/* this is to set the margin and pagging to 0 for all the elements in the page, and the box sizing that will help us to have consistent elment sizing and spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* this sets the body background white and the font to Lora a type of serif font */
body {
  background-color: #fff;
  font-family: 'Lora', serif;
}

/* the background color of navbar */
/* sets the background color of the navbar to #292d33 and adds padding of 1.5 rem */
#nav_bar {
  background-color: #292d33;
  padding: 1.5rem;
}

/* the rest of the navbar styling */
/* sets the display to flex and positiones the content to the end of the navbar. the list style is set to none to avoid any circles, and the margin top is 0.65rem */
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-top: 0.65rem;
}

/* styles the list elements to have a left margin of 1 rem so that they are not close to each other */
li {
  margin-left: 1rem;
}

/* this styles the elements of the navbar. as they are links and we do not want the default link stylink we set text-decoration to none */
/* the color is white for some contrast, font size to 18px, transition duration to 0.3s, and font weight to bold */
nav a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

/* this styles the backgroung to an orange shade when the user is on a certain page, the padding is 0.5 and 1 rem, font color is white */
nav a.active {
  background-color: #ea7441;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  color: white;
}

/* the logo style "CarRental" */
/* position it to the left*/
#emri {
  float: left;
}

/* the font style the color is white and the size 2 rem*/
#emrih {
  color: #fff;
  font-size: 2rem;
}



/* SECTION 1 STYLING (index.html) */

/* this is the container after the navbar */
/* firstcontainer style sets the display to flex, with elements wrapping if necessary, and aligns the items to the center. It also justifies the content to be evenly spaced between the elements and adds padding and margin to the container. Additionally, it sets the background color to shade of gray */
.firstcontainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem 2rem 2rem;
  margin-bottom: 2rem;
  background-color: #555c66;
}

/* this is the code for the quote */
/* it will be positioned in the beddining or the left side with padding 1 rem */
.quotecontainer {
  flex: 1;
  padding: 1rem;
  align-self: flex-start;
}

/* this is the img positioned at the end of the div or on the right padding of 1 rem and the width is set to 100% so the full img is displayed */
.imagecontainer {
  flex: 1;
  padding: 1rem;
  align-self: flex-end;
  width: 100%;
}

/* the styling of the first section quote */
/* the font family is set to 'Work Sans Semi Bold', the color to white, and the font size to 5.5 rem*/
#quote {
  font-family: 'Work Sans Semi Bold';
  color: #fff;
  font-size: 5.5rem;
}
/* this is the small text at the bottom of the qute with a size of 1.5 rem and white */
#q2 {
  font-size: 1.5rem;
  color: #fff;
}


/* SECTION 2 STYLING (index.html) */

/* this is the what do we offer section the acronym wdwo is used */
/* the heading is centered, the font Karla is used with the size 4 rem and color #292d33 */
.wdwo {
  text-align: center;
  font-family: 'Karla', serif;
  color: #292d33;
  font-size: 4rem;
}

/* this is the styling regarding the three columns */
/* three-column style sets the display to flex and justifies the content to be spaced evenly between the elements, also adds padding to the container */
.three-column {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* the styling for each column */
/* sets the font color to #292d33 and adds margin and a maximum width of 300 pixels to the columns */
.colums {
  color: #292d33;
  margin: 10px;
  max-width: 300px;
}

/* adjusting the image size to be 7 rem in width and tall*/
.img-wdwo1 {
  width: 7rem;
  height: 7rem;
}

/* adjusting the position; centering the img and adding som padding to it*/
.img-wdwo {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/* styling the headers of the three columns the font size to 1.5 rem padding to the top of 1 rem, and sets the margin to 0.2 rem*/
.h3-wdwo {
  font-size: 1.5rem;
  padding-top: 1rem;
  margin: 0.2rem;
}

/* styling the paragraph padding to the top of 1 rem, sets the margin to 0.2 rem, sets the line height to 1.5 rem, and sets the font size to 1.2 rem*/
.p-wdwo {
  padding-top: 1rem;
  margin: 0.2rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}



/* SECTION 3 STYLING (index.html) */

/* the styling here is about the product */
/* the bacground of the section is a shade of gray */
.products {
  background-color: #555c66;
}

/* the header at the beginning of the section centers the text sents the font family to Krla, adds 1 rem padding the font colr is white and 4rem*/
.oproducts {
  text-align: center;
  font-family: 'Karla', serif;
  padding-top: 1rem;
  color: #fff;
  font-size: 4rem;
}

/* the styling for each column */
/* colums-op style sets the color to #fff, sets the maximum width to 350 pixels, and sets a custom variable for the border color. 
also sets the padding to include the thickness of the border and the gap on hover, it creates a conic gradient for the background and adds a transition for the hover effect
also sets the cursor to pointer to indicate that the column is clickable */
.colums-op {
  color: #fff;
  max-width: 350px;
  --c: #ea7441;
  /* the border color */
  --b: 10px;
  /* the border thickness*/
  --g: 5px;
  /* the gap on hover */

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background:
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: .3s, background-position .3s .3s;
  cursor: pointer;
}

/* colums-op:hover style sets the custom variable for the background size to 100% on hover and sets the transition to include the background size and position. */
.colums-op:hover {
  --_i: 100%;
  transition: .3s, background-size .3s .3s;
}

/* adjusting the position, it centers the image and adds a top padding of one rem*/
.img-op {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

/* styling the headers of the three columns with a font of 1.5 rem,padding to the top of 1 rem, and sets the margin to 0.2 rem */
.h3-op {
  font-size: 1.5rem;
  padding-top: 1rem;
  margin: 0.2rem;
}

/* styling the paragraph adding to the top of 1 rem, sets the margin to 0.2 rem, sets the line height to 1.5 rem, and sets the font size to 1.2 rem*/
.p-op {
  padding-top: 1rem;
  margin: 0.2rem;
  line-height: 1.5rem;
  font-size: 1.2rem;
}
/* the image width is set to 350px and height to 200px */
.size {
  width: 350px;
  height: 200px;
}

/* this is the styling for the link part which is none*/
.link-op {
  text-decoration: none;
}


/* SECTION 4 STYLING (index.html) */
/* this container holds all the product cards when the user scrolls through it it moves left to right to display its content this 
was done by using overflow x (move left to right) and the smooth scroll behavior*/
.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
/* this is the styling for each product card like the ones at rent a car*/
.product-card {
  flex: 0 0 auto;
  width: 350px;
  margin: 30px 30px 30px 0px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* this is the styling of each img inside the card and that the pic should fit the size */
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* this is the styling for the cars names */
.product-brand {
  color: #292d33;
  font-size: 1.5rem;
  margin-right: 1rem;
}
.pn-size {
  width: 50px;
  height: 50px;
}



/* SECTION 5 STYLING (index.html) */


/* this part is the styling of the reviews part the background is white*/
.reviews {
  background-color: #fff;
}

/* the heading at the beginning of the new section enters the text, sets the font family to 'Karla', sets the color to #292d33, sets the font size to 4 rem, and sets the padding to the top of 1 rem*/
.ocr {
  text-align: center;
  font-family: 'Karla', serif;
  color: #292d33;
  font-size: 4rem;
  padding-top: 1rem;
}

/* the reviews are each in a column */
/* styling the container seting the space between the columns to be even, and sets the padding to 2 rem*/
.column-ocr {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

/* the styling for each column and the text the font color is white, the margin to 10 pixels,maximum width to 300 pixels,  line height to 2 rem, font size to 0.9 rem, background color to #555c66, and adds a border radius of 2 rem to create a rounded rectangle */
.colum-ocr {
  color: #fff;
  margin: 10px;
  max-width: 300px;
  line-height: 2rem;
  font-size: 0.9rem;
  background-color: #555c66;
  border-radius: 2rem;
}

/* adding some margin to the text */
.p-ocr {
  margin: 1rem;
}

/* the code below is about the stars at the review section. sets the color to #ea7441 and adds margin to the stars*/
.star {
  color: #ea7441;
  margin: 1rem;
}

/* THE FOOTER */

/* the style for the footer */
/* bacground is dark grey, font color white and there is a top andbottom padding of 20px */
footer {
  background-color: #292d33;
  color: #fff;
  padding: 20px 0;
}
/* creates a flexbox with evenly spaced items */
.footer-container {
  display: flex;
  justify-content: space-around;
}
.footer-column {
  flex: 1;
  margin-left: 20px;
}
/* sets the font to karla, the size to 24px, bottom margin 20px, and removes all the text decoration from the link */
.footer-column a {
  font-family: 'Karla', serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: none;
}
/* sets the font to karla for the pharagraphs on the footer, line height to 1.4rem and the size to 17px */
.footer-column p {
  font-family: 'Karla', serif;
  line-height: 1.4rem;
  font-size: 17px;
}
/* the styling of the social media links, the color is white, font size 20px, margin of 10 pixels to the right, removes the text decoration,font family to 'Karla', the line height to 2 rem, and sets the font size to 18 pixels */
.social-icons a {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Karla', serif;
  line-height: 2rem;
  font-size: 18px;
}
/* when hoovered the color changes from white to orange */
.social-icons a:hover {
  color: #ea7441;
}
/* this is the copyright paragraph at the very bottom */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}
/* this is the WheelDeal Rentals logo at the very bottom it is a link so there shall be no link decorations and the font color is set to orange */
.footer-logo {
  text-decoration: none;
  color: #ea7441;
}







/* RENT A CAR STYLING PART */
/* the css for the rent a car page */

/* Product Rows */
/* defines the style for each row such as display flex margin*/
.product-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
/* the style for the main headings like Luxurious Cars */
/* it is positioned in the center, Karla is used as the font, the color is a dark grey */
.h2-rent {
  text-align: center;
  margin: 20px 0;
  text-align: center;
  font-family: 'Karla', serif;
  color: #292d33;
  font-size: 3rem;
}

/* this is the style of each box of products
the color is white, there is box shadow present, the text is center aligned */
.product-box { 
  width: 350px;
  margin: 30px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
}
/* this defines the width and height of the images and that they will be fully fitting inside the object */
.product-box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
/* this is used for the names of the cars */
/* the color is #292d33 there are not text decorations crusor is set to pointer */
.h3-rent {
  margin: 20px 0;
  color: #292d33;
  margin-right: 10px;
  text-decoration: none;
  line-height: 1.5rem;
  font-size: 25px;
  cursor: pointer;
}
/* efines the styles for the product rental button
the color is orange, the font color is white, there are no  borders, the border radius is set to 5px... */
.rent-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #ea7441;
  color: #fff;
  cursor: pointer;
  font-family: 'Karla', serif;
  line-height: 1.5rem;
  font-size: 19px;
}
/* on hoover the btn changes color to a lighter orange shade */
.rent-btn:hover {
  background-color: #ff6d2f;
}